/*
** A Totally Real Project by a total "Software Engineer"
@ Author - ngala21
**
*/

/* ===== Fonts ===== */

/* ===== CSS Reset ===== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


:root {
    --color-primary: #800000;
    --color-secondary: #003366;
    --color-success: #ffffff;

    /* Other Colors */
    --primary-maroon: #8b1a1a;
    --dark-maroon: #631212;
    --text-gray: #4a4a4a;
    --bg-light: #f8f9fa;

    --container-width-lg: ;
    --container-width-md: ;
    --container-width-sm: ;

    --transition: ;
    --border-radius-default: ;
    --border-radius-large: ;
}

/* ===== General Styles ===== */
h2,
h4 {
    text-align: center;
}

.pcenter {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* ===== General Styles ===== */

/* ================ SITE NAVIGATION ================ */
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 5%;
   background: var(--color-primary);
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);  
}

.nav-logo {
    height: 74px;
    width: auto;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.nav-logo img {
    width: 5rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    font-family: sans-serif;
    color: #003366;
    font-weight: bold;
}

nav a:hover {
    color: #fff;
}

/* ================ SITE NAVIGATION ================ */

/* ================ SITE NAVIGATION ================ */
main {
    margin-top: 2rem;
}
/* ================ SITE NAVIGATION ================ */

/* ================ HERO SECTION ================ */

.hero {
    height: 50vh;
    background: linear-gradient(to right, #6d0d0d, #7b1616);
    display: flex;
    align-items: center;
    color: white;
}

.hero-content {
    max-width: 600px;
    margin-left: 120px;
    color: white;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 26px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
    border-radius: 10px;
}

.btn.primary {
    background: var(--color-success);
    color: var(--color-primary);
    border: 3px solid white;
}

.btn.outline {
    background-color: transparent;
    border: 3px solid white;
    color: var(--color-success);
}

/* ================ HERO SECTION ================ */

/* ================ ACADEMIC SECTION ================ */
.stats {
    height: 30vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    padding: 60px 40px;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.stat-item {
    text-align: center;
    width: 100px;
}

.icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 15px;
    background: #7b1616;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.stat-number {
    font-size: 28px;
    color: #7b1616;
    margin-bottom: 8px;
}

.stat-label {
    font-size: 14px;
    color: #555;
}

/* ================ ACADEMIC SECTION  ================ */
.academic-section {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f8f9fa;
}

.programs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
    margin: 40px;
    padding: 60px 20px;
    /* max-width: 1200px; */
}

.program-card {
    background: #fff;
    padding: 50px 20px;
    border-radius: 12px;
    text-align: left;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    border-top: 4px solid #800000; 
    transition: transform 0.3s ease;
}

.icon-box {
    background-color: #800000;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.program-card h3 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 12px;
}

.program-card p {
    color: #777;
    font-size: 0.95rem;
    line-height: 1.5;
    text-align: center;
}

/* ================ ACADEMIC SECTION END ================ */


/* ================ NEWS SECTION ================ */
.news-section {
    padding: 80px 0;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

.news-grid {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    text-align: center;
    margin-bottom: 50px;
}

.header h2 {
    font-size: 2.2rem;
    color: #0c1e35;
    margin-bottom: 10px;
}

.header p {
    color: #666;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.news-card {
    background: #fff;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    transition: box-shadow 0.3s ease;
}

.news-card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

/* Meta info: Badge and Date */
.card-meta {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.badge {
    color: white;
    padding: 4px 12px;
    border-radius: 15px;
    font-size: 0.75rem;
    font-weight: 600;
}

.badge-sports { background-color: #630000; }
.badge-academics { background-color: #630000; }
.badge-events { background-color: #630000; }
.badge-arts { background-color: #630000; }

.date {
    color: #888;
    font-size: 0.85rem;
}

.news-card h3 {
    font-size: 1.4rem;
    color: #1a1a1a;
    margin-bottom: 12px;
}

.news-card p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 0.95rem;
}

.read-more {
    color: #630000;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.read-more:hover {
    text-decoration: underline;
}

.action-footer {
    text-align: center;
    margin-top: 50px;
}

.view-all-btn {
    background-color: #630000;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}
/* ================ NEWS SECTION END ================ */

/* ================ FOOTER SECTION ================ */
footer {
    height: 100vh;
    background-color: maroon;
    color: #003366;
    height: 6rem;
    font-weight: bold;
    text-align: center;
}
/* ================ FOOTER SECTION ENDING ================ */

/* --- HOME SECTION END --- */


/* ================ ABOUT SECTION ================ */
/* ----- hero section ----- */
.container {
    max-width: 1100px;
    /* margin: 0 auto; */
    padding: 0 20px;
}

.hero-section {
    background: linear-gradient(to right, var(--dark-maroon), var(--primary-maroon));
    color: var(--color-success);
    padding: 80px 0;
}

.hero-section h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 1.2rem;
    font-weight: 300;
    opacity: 0.9;
}
/* ----- hero section end ----- */

/* values section */
.values-section {
    padding: 60px 0;
    margin-top: -40px;
}

.container.card-wrapper {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background: var(--color-success);
    padding: 40px;
    border-radius: 12px;
    flex: 1;
    min-width: 300px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    transition: transform 0.3 ease;
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon-box {
    background-color: var(--primary-maroon);
    color: var(--color-success);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-right: 15px;
    font-size: 1.5rem;
}

.card h2 {
    color: #1a1a1a;
    font-size: 1.6rem;
}

.card p {
    font-size: 1rem;
    color: #555;
}

/* values section end */
table {

}

th, td {
    text-align: center;
}

/* ================ ABOUT SECTION ================ */

/* ================ TABLE SECTION ================ */

h4 {
    color: blue; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;"
}

.table-heading {
    background: green;
}

/* ================ TABLE SECTION END ================ */

/* ================ ABOUT SECTION END ================ */

